<div class="dashboard">
    <div class="dashboard__main-menu">
        <div class="dashboard__main-menu__picture-box">
            <img class="dashboard__main-menu__picture-box--picture" src="/assets/profile-min.jpg" alt="Esse sou eu" />
        </div>
        <div class="dashboard__main-menu__text-box">
            <div class="dashboard__main-menu__text-box--title text text--title text--white">Hudson Mendonça Almeida
            </div>
            <div class="dashboard__main-menu__text-box--subtitle text text--subtitle text--white">Analista de sistemas,
                Desenvolvedor e entusiasta da tecnologia</div>
            <div class="dashboard__main-menu__text-box--resume text text--small text--white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Sit amet facilisis magna etiam.<br><br> Nam libero justo laoreet sit amet cursus sit. Sed enim ut sem viverra aliquet eget. Non sodales neque sodales ut etiam. Eget felis eget nunc lobortis mattis aliquam faucibus. Vitae nunc sed velit dignissim sodales ut. Curabitur vitae nunc sed velit dignissim sodales. Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Ipsum consequat nisl vel pretium lectus quam id. Commodo odio aenean sed adipiscing diam.</div>
        </div>
    </div>
    <div class="dashboard__skills">
        <div class="dashboard__skills__panel">
            <div class="dashboard__skills__panel--title text text--title text--dark">
                Habilidades e Interesses
            </div>
            <div class="dashboard__skills__panel__items">
                <div class="dashboard__skills__panel__items--item" *ngFor="let item of acquiredSkills">
                    <fa-icon [icon]="item.icon" class="dashboard__skills__panel__items--icon"></fa-icon>
                    <div class="dashboard__skills__panel__items--text text text--white">{{item.skillName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard__skills__panel">
            <div class="dashboard__skills__panel--title text text--title text--dark">
                Estudos
            </div>
            <div class="dashboard__skills__panel__items">
                <div class="dashboard__skills__panel__items--item" *ngFor="let item of learningSkills">
                    <fa-icon [icon]="item.icon" class="dashboard__skills__panel__items--icon"></fa-icon>
                    <div class="dashboard__skills__panel__items--text text text--white">{{item.skillName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard__projects"></div>
    <div class="dashboard__contact"></div>

</div>
